BODY
{
background-color:    2dabe2;
color:                       white;
font-size:                 10pt;
font-family:             arial;
line-height: 30px;
padding: 10px;
text-align: center;
}

h1 {
font-size:            20pt;
font-weight:         bold;
font-family:         arial;
font-variant: SMALL-CAPS;
}

pre {
margin-left: 50px;
text-align: left !important;
color: black;
font-family: Lucida Console, DejaVu Sans Mono;
background-color: #eee;
}

