BODY
{
background-color:    Coral;
color:                       DimGray;
font-size:                 10pt;
font-family:             arial;
line-height: 30px;
padding: 10px;
text-align: center;
}

h1 {
font-size:            26pt;
font-weight:         bold;
font-family:         arial;
}

