<link rel="stylesheet" href="/static/style.css" type="text/css">

{% block body %}
<center>
<img src="/static/mi6-logo.jpg" width="10%" />


{% if session['logged_in'] %}
<p>Congratulations! You are in!
<br>
The flag is: <b>He_is_number_007</b>
<br>
<a href="/logout">Logout</a>
</p>
{% else %}
<p>
Are you somehow trying to cheat?
</p>
{% endif %}
{% endblock %}

