BODY
{
background-color:    Ivory;
color:                       DimGray;
font-size:                 14pt;
font-family:             'Brush Script MT', cursive;
line-height: 30px;
padding: 10px;
text-align: center;
}

h1 {
font-size:            26pt;
font-weight:         bold;
font-family: Georgia, serif;
}

